@charset "UTF-8";
header {
	height: 100px;
	background-color: #E0E0E0;
}
.contents {
	min-height: 500px;
}
.loginForm {
	background-color: #FAFAFA;
}
#imgBtn {
	border: none;
	background: transparent;
}
#postInputBox {
	border: 1px solid;
	border-color: #CED4DA;
}
.timelineBox {
	border: 1px solid;
	border-color: #CED4DA;
}
#postBox {
	border: none;
}

#infoBtn {
	border: none;
	background: white;
}
#likeBtn {
	border: none;
	background: transparent;
}
#commentInputBox {
	border-top: 1px solid;
	border-color: #CED4DA;
}
#commentBox{
	border-bottom: 1px solid;
	border-color: #CED4DA;
}
#commentList {
	text-align: left;
}
#inputCommentBtn {
	border: none;
	background: transparent;
}
#inputComment {
	border: none;
}